$Color-White: #FFFFFF;
$Color-grey: #00000029;
$Color-grey2:#A5A5A5;
$Color-grey3: #E8E9ED;
$Color-grey4: #95989A;
$Color-grey5: #707070;
$Color-blue: #08A6E4;
$Color-blue2: #07ACE629;
$Color-blue3: #07ACE6;
$Color-black: #000000;
$Color-black2: #13253B;
$Color-pink: #FB3B64;
$Color-pink2: #EB476E;
$Color-pink3: #FF091129;
$Color-pink4: #F9043629;
$Color-green: #55DFB4;